@page "/articles"

<ul class="articles">
    <li class="article px-3"><NavLink href="your-first-blazor-apps">Your First Blazor Apps</NavLink></li>
    <li class="article px-3"><NavLink href="closer-look-blazor">A Closer Look at Blazor</NavLink></li>
    <li class="article px-3"><NavLink href="blazor-custom-sidebar-menu">Custom Sidebar Menu</NavLink></li>
    <li class="article px-3"><NavLink href="building-a-dashboard-with-blazor-part-1">Building a Dashboard with Blazor Part 1</NavLink></li>

</ul>