@page "/"

<h1>Welcome</h1>
<h2 class="text-danger">This is an example website. Source on <a href="https://github.com/footysteve/blazor.space/tree/master/examples/standalone/Initial">Github</a></h2>
<p>
    Hi there! Welcome to blazor.space. The purpose of blazor.space is to investigate and experiment with Blazor.
    It's a bit styleless at the moment, links open incomplete pages, etc. So I will be using the development of
    this site as a basis for some of the Blazor articles you'll find here.
</p>
<p>
    What is Blazor? Blazor, still in the experimental stage, is a groundbreaking framework that offers end-to-end web development with dotnet. That's dotnet running in the browser right now!
</p>
<p>
    A striking feature of Blazor is the ease with which you can quickly get up to speed with new features while still being able use your existing code base. Javascript UI libraries for example -
    in my ongoing Blazor dashboard experiment not a single change was needed to use Baidu ECharts map.
</p>

<p>
    All it took to get it working after a couple of hours familiarising myself with the main concepts of Blazor, was the addition of a
    tiny bit of C#/JSInterop plumbing in my Razor view, no changes to the Javascript component itself. See the screenshot below.
</p>
<p><img src="https://via.placeholder.com/650x350" /></p>
<p>So far I haven't even scratched the surface. I'm looking forward to putting Blazor through its paces. Perhaps you'll join me on this adventure? I hope you do, it's incredibly exciting!</p>
<p>I'll be adding content regularly, I hope you find it helpful. Please feel free to leave your comments below (when the Blazor Comment Component is added) or visit my Blazor repository on <Navlink href="https://github.com/footysteve/">Github</Navlink>.</p>
<p>If you’re new to Blazor, you might want to check out some of the links below. Steve Sanderson’s NDC presentation rocks! It’s a great intro to Blazor.</p>
<ul>
    <li>
        <p><a href="https://www.youtube.com/watch?v=JU-6pAxqAa4">Blazor, a new framework for browser-based .NET apps - Steve Sanderson</a></p>
        <p>And here's Steve's <a href="http://blog.stevensanderson.com/2018/02/06/blazor-intro/">technical intro</a>.</p>
    </li>
    <li>
        <div><a href="https://github.com/aspnet/Blazor">The aspnet/Blazor project</a> and <a href="https://blazor.net/">resources</a>.</div>
    </li>
    <li>
        <a href="https://github.com/footysteve/BlazorDash">BlazorDash</a> a football analytics dashboard I'm building to try out Blazor.
    </li>
    <li>
        <a href="https://github.com/footysteve/blazor.space">blazor.space</a> The github repository for this website..
    </li>
</ul>


